:root {
  --blue1: rgb(249, 247, 247);
  --blue2: rgb(219, 226, 239);
  --blue3: rgb(63, 114, 175);
  --blue4: rgb(17, 45, 78);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(70, 70, 70) inset !important;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--blue2);
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

body.dark-theme .expense-container {
  background-color: rgb(40, 42, 46);
  color: #fff;
}

body.dark-theme .expense-data-bar {
  border-bottom: 2px solid var(--blue3);
}

body.dark-theme .pagination {
  color: rgba(255, 255, 255, 0.8);
}

body.dark-theme .user {
  background-color: rgb(70, 70, 70);
  color: #fff;
}

body.dark-theme .user #premium-feature button {
  background-color: inherit;
  border-color: rgb(44, 44, 44);
  color: #fff;
}

body.dark-theme .user #premium-feature button:hover {
  background-color: rgb(44, 44, 44);
}

body.dark-theme .add-expense {
  background-color: rgb(70, 70, 70);
}

body.dark-theme .form-control input,
body.dark-theme .form-control select,
body.dark-theme .form-control textarea {
  color: #fff;
  border: 1px solid rgba(241, 241, 241, 0.7);
}

body.dark-theme .form-control select option {
  color: black;
}

body.dark-theme .add-expense h1 {
  color: #fff;
}

body.dark-theme footer > h1 {
  color: rgb(255, 152, 0);
}

footer {
  height: 80px;
  background-color: var(--blue3);
  flex-shrink: 0;
  text-align: center;
  margin-bottom: auto;
  position: relative;
  color: #fff;
  padding: 5px;
}

footer h1 {
  margin: auto 0;
}

main {
  flex: 1 0 auto;
}

header {
  background-color: var(--blue3);
  color: #fff;
  flex-shrink: 0;
  text-align: center;
}

header > h1 {
  margin: 20px 0 0 0;
  font-size: clamp(1rem, 7vw, 2.25rem);
}

.nav-btn:nth-child(2) {
  margin: 0 75px;
}

.nav-btn {
  background-color: transparent;
  border: 0;
  opacity: 0.7;
  font-family: inherit;
  color: inherit;
  font-size: clamp(1rem, 4vw, 1.25rem);
  cursor: pointer;
}

.nav-btn.active,
.nav-btn:hover {
  border-bottom: 2.5px solid #fff;
  opacity: 1;
}

.main-container {
  max-width: 549.5px;
  margin: 0 auto;
  overflow: hidden;
}

/* responsive ness in width container */

#flex-container {
  display: inline-flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.container {
  font-size: large;
  min-width: 550px;
  background-color: var(--blue1);
  height: 100%;
  overflow-y: auto;
  height: 430px;
  background-color: inherit;
}

.expense-container {
  background-color: #fff;
}

.info-bar {
  padding: 3px;
  background-color: var(--blue4);
  color: #fff;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.info-btn {
  background-color: rgb(5, 25, 46);
  border: 0;
  color: #fff;
  cursor: pointer;
  width: 30px;
}

.bar {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0.1rem 0;
}

.des-btn,
.delete-btn {
  cursor: pointer;
  padding: 5px;
  border: 1px solid rgba(45, 45, 45, 0.5);
  font-size: 1rem;
  align-self: center;
}

.expense-data-bar {
  border-bottom: 2px solid var(--blue2);
  padding: 0 0.5rem;
}

.daily-total {
  background-color: var(--blue4);
  color: #fff;
  padding: 5px 0 5px 10px;
}

.leaderboard-history {
  background-color: var(--blue4);
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.link button {
  padding: 5px 10px;
}

.link button:hover {
  cursor: pointer;
}

.description {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.show {
  max-height: 100px;
  transition: max-height 0.25s ease-in;
}

.user-container {
  position: fixed;
  top: 25px;
  left: 25px;
  color: var(--blue4);
  z-index: 1;
}

.user-btn {
  background-color: inherit;
  cursor: pointer;
  width: 27px;
  height: 28px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  font-size: 1.5rem;
  color: #fff;
}

.user {
  position: absolute;
  top: 35px;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  display: none;
}

.user-name {
  padding: 10px;
  border-bottom: 1px solid rgba(45, 45, 45, 0.15);
}

.user-name > h1 {
  margin: 10px 0 0 0;
}

.user-name p {
  margin-top: 0;
  margin-bottom: 10px;
  opacity: 0.7;
}

.features {
  padding: 10px;
}

#normal-feature {
  text-align: left;
  display: none;
  border-bottom: 1px solid rgba(45, 45, 45, 0.15);
}

#normal-feature ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#normal-feature ul li {
  border-bottom: 1px solid rgba(45, 45, 45, 0.1);
  padding-bottom: 2px;
}

#normal-feature ul p {
  margin: 0 20px;
  font-size: 0.9rem;
  opacity: 0.7;
}

#normal-feature h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

#normal-feature .upgrade-btn {
  text-align: center;
  margin-top: 10px;
}

#normal-feature .upgrade-btn button {
  padding: 6px;
  width: 120px;
  cursor: pointer;
  border: 1px solid var(--blue3);
  border-radius: 2px;
  background-color: var(--blue3);
  color: #fff;
  transition: color 0.2s ease, background-color 0.2s ease;
}

#normal-feature .upgrade-btn button:hover {
  background-color: #fff;
  color: var(--blue3);
}

#premium-feature {
  padding-top: 20px;
  display: none;
  flex-direction: column;
}

#premium-feature button {
  background-color: var(--blue1);
  width: 100%;
  text-align: left;
  font-size: medium;
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgba(45, 45, 45, 0.15);
}

#premium-feature button:hover {
  background-color: var(--blue3);
  color: #fff;
}

.user button.logout {
  width: 100px;
  margin: 10px;
  cursor: pointer;
}

.user-container.show-user .user {
  display: block;
}

.user-container.show-user .user-btn {
  background-color: #fff;
  color: var(--blue3);
}

#add-expense-container {
  position: absolute;
  bottom: 90px;
  right: 10px;
}

.cross-btn {
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  border: 0;
  border-radius: 50%;
  background-color: var(--blue3);
  color: #fff;
  transform: rotateZ(45deg);
  cursor: pointer;
  transition: transform 0.1s ease-in;
}

.cross-btn.rotate {
  transform: rotateZ(180deg);
}

.add-expense {
  position: absolute;
  right: 25px;
  bottom: 25px;
  background-color: #fff;
  color: var(--blue4);
  transform-origin: 100% 100%;
  padding: 10px;
  border-radius: 5px;
  transform: scale(0);
  transition: transform 0.1s ease-in;
}

.add-expense.scale {
  transform: scale(1);
}

.form-control {
  margin: 20px 0;
  width: 275px;
}

.form-control input,
.form-control select,
.form-control textarea {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  cursor: pointer;
}

.form-control textarea {
  height: 60px;
}

.form-control input:focus,
.form-control select:focus,
.form-control textarea:focus {
  outline: none;
}

.add-expense-btn {
  border: 1px solid var(--blue3);
  color: var(--blue4);
  font-size: 1rem;
  cursor: pointer;
  padding: 4px;
}

.add-expense-btn:active {
  transform: scale(0.97);
}

.add-expense h1 {
  text-align: center;
  color: var(--blue4);
}

.pagination {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  left: 0;
  right: 0;
  bottom: 95px;
  color: var(--blue4);
}

.pagination select {
  font-size: inherit;
  border: none;
  cursor: pointer;
}

.pagination select:focus {
  outline: none;
}

.pagination button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

#page-info {
  margin: 0 20px;
}

/* toast notification */
.toast {
  position: fixed;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 5;
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

@media (max-width: 550px) {
  .main-container {
    min-width: 100vw;
  }
  .container {
    min-width: 100vw;
  }
  .nav-btn:nth-child(2) {
    margin: 0 auto;
  }
  #add-expense-container {
    bottom: 120px;
  }
}

@media (max-width: 380px) {
  #add-expense-container {
    bottom: 150px;
  }
  .user-container {
    left: 10px;
  }
}
